# IDE / Editor
.vscode/
.idea/

# Local / dev notes
local/
main.fig

# Binários
fig
bin/
ffi-gen
ffi-helper
*.exe
*.out

# OS
.DS_Store
Thumbs.db

# Go
*.test

extras/
/modules/
myproject/
grammar/.antlr/